#container {
  margin: 0 auto;
  width: 90%;
  height: 500px;
  display: grid;
  border: 4px solid black;
  grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
  grid-template-rows: 1fr 2fr;
}
.text {
  font-size: 2.5em;
}
